.fb-comments {
    border-radius: 5px;
    border-color: aqua;
    border-left: blueviolet;
    border-style: dotted;
    background-image: url("wavy.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2vh 2vw;
}

@media only screen and (max-width: 920px) and (orientation: portrait) {
    .fb-comments {
        display: none;
    }
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
    .fb-comments {
        margin: 0vh 0vw;
        border-radius: 5px;
        border-color: aqua;
        border-left: blueviolet;
        border-style: dotted;
        background-image: url("wavy.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}