.fb-comments {
    border-radius: 5px;
    border-color: aqua;
    border-left: blueviolet;
    border-style: dotted;
    background-image: url("wavy.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2vh 2vw;
}

@media only screen and (max-width: 920px) and (orientation: portrait) {
    .fb-comments {
        display: none;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body {
  font-family: 'Roboto Condensed', sans-serif;
}

.face_b-comments {
    border-style: dotted;
    background-image: url("wavy.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
    .face_b-comments {
        margin: 0vh 0vw;
        border-radius: 5px;
        border-color: aqua;
        border-left: blueviolet;
        border-style: dotted;
        background-image: url("wavy.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width:920px) {
   .face_b-comments {
       border: none;
       background: none;
   } 
}